
<div class="grid">
    <div class="col"></div>
    <div class="card">
        <main class="col text-center" [style]="{'width-max': '500px'}">
            <div *ngIf="authService.userProfile.getValue() as user" class="logout">
                <h1>
                    You are logged In.
                </h1>
            </div>
            <div *ngIf="!authService.userProfile.getValue() as user"> 
                <!-- *ngIf="!(afAuth.authState | async)"> -->
                <p-card [style]="{'width': 'fit-content', 'padding-left': '3em', 'padding-right': '3em', 'margin': '50px'}">
                    <div *ngIf="isSignup">
                        <h3><strong>Create Account</strong></h3>
                        <button pButton pRipple icon="pi pi-arrow-circle-left" type="button" label="Log In" class="p-button-rounded p-button-help" (click)="changeType('login')"></button>
                    </div>
                
                    <div *ngIf="isLogin">
                        <h3><strong>Welcome back</strong></h3>
                        <button pButton pRipple icon="pi pi-user-plus" type="button" label="New User" class="p-button-rounded p-button-help" (click)="changeType('signup')"></button>
                    </div>
                
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" [style]="{'margin-top': '1em'}">
                        <div *ngIf="isSignup" class="field">
                            <input id="firstName" formControlName="firstName" type="text" placeholder="First Name" autocomplete="off" pInputText/>
                        </div>
                        <div *ngIf="isSignup" class="field">
                            <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name" autocomplete="off" pInputText/>
                        </div>
                        <div class="field">
                            <input id="email" formControlName="email" type="email" placeholder="Email" autocomplete="off" pInputText/>
                        </div>
                        <div class="field">
                            <input matInput formControlName="password" type="password" placeholder="Password" autocomplete="off" pInputText/>
                        </div>
                        <button pButton pRipple type="submit" label="Submit" class="p-button-raised" [disabled]="loading"> <!-- form.invalid -->
                        </button>
                        <div class="field">
                            <small *ngIf="serverMessage" id="form" class="p-error block">{{serverMessage}}</small>
                        </div>
                    </form>
                </p-card>
            </div>
        </main>
    </div>
    <div class="col"></div>
</div>